.container{
	width: 60%;
    height: 100%;
    margin: 0 auto;
}

.titulo{
    font-size: 3rem;
    font-family: Pacifico, cursive;
    background-color:orange;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
}

.pesoInválido{
    background-color: lightcoral;
}

.fadeOut{
    opacity: 0;
    transition: 0.5s;
}

#filtrar-tabela{
    width: 200px;
    height: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.invisivel{
    display: none;
}